

.buy-menu{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-bar{
    height: 75vh;
    width: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.side-bar div{
    background-color: purple;
    width: 70px;
    height:70px;
    border-radius: 20px;
}

.produto{
    width: 40vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produto .img-produto{
    width: 35vw;
    height: 45vh;
}

.produto .info{
    width: 35vw;
    height: 15vh;
    margin-block: 15px;
}

.nome{
    font-size: 20px;
}
.preco{
    font-size: 24px;
    margin-block: 12px;
    font-weight: 600;
}

.info-produto{
    width: 20%;
}

.title{
    color: #0797FF;
    font-weight: bold;
    font-size: 18px;
}li{
    padding-block: 15px;
}
