.carousel{

    padding: 15px;
    max-width: 100vw;
    margin-top: 50px;
    margin-inline: 0px;
    display: flex;
}

.arrow-left,
.arrow-right{
    font-size: 50px;
    position: relative;
    top: 0;
    left: 0px;
    right: auto;
    bottom: 0;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #7C3AED;
    cursor: pointer;
    border: none;
    background: none;
    transition: all 300ms ease-in-out;
    margin-inline: 15px;
    font-weight: bold;
}
.arrow-left:hover,
.arrow-right:hover{
    color: #BF46EF;
}

.arrow-right{
    right: 0px;
    left: auto;
    background: none;
}

.arrow-left:hover,
.arrow-right:hover{
    opacity: 1;
}


/*roupas*/

.roupas-wrapper{
    overflow-x: auto;
    width: 90vw;
}
.roupas-wrapper::-webkit-scrollbar{
    display: none;
}

.roupas-gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item-roupas{
    width: 250px;
    height: 360px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    overflow: hidden;
    border-radius: 15px;
}


/*games*/


.games-wrapper{
    overflow-x: auto;
    width: 90vw;
}
.games-wrapper::-webkit-scrollbar{
    display: none;
}

.games-gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item-games{
    width: 250px;
    height: 360px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    overflow: hidden;
}


/*mangas*/


.mangas-wrapper{
    overflow-x: auto;
    width: 90vw;
}
.mangas-wrapper::-webkit-scrollbar{
    display: none;
}

.mangas-gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item-mangas{
    width: 250px;
    height: 360px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    overflow: hidden;
}

/*all*/

.offcar{
    position: fixed;
    top: -100vh;
}


.all-wrapper{
    overflow-x: auto;
    width: 95vw;
    margin: 2.5vw;
}
.all-wrapper::-webkit-scrollbar{
    display: none;
}

.all-gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item-all{
    width: 250px;
    height: 360px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    overflow: hidden;
}
/*items styles*/

/* Style the product container */
.product-link {
    display: flex;
    flex-direction: column;
}

/* Style the product information container */
.item-produto {
    background-color: #7C3AED;
    width: 250px;
    height: 100px;
    border-radius: 0px 0px 15px 15px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Style the product image container */
.produto-img {
    border-radius: 15px 15px 0px 0px;
    box-shadow: 1px -1px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
}

/* Style the price container */
.preco {
    margin-left: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Style the cent part of the price */
.cent {
    font-size: 10px;
}

/* Style the product information */
.info {
    margin-top: 10px;
    font-size: 16px;
}


@media (max-width: 650px) {
    .arrow-right,.arrow-left{
        display: none;
    }
}