/* Reset styles */

html{
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

@font-face {
    font-family: inter;
    src: url("../Inter/Inter-VariableFont_slnt\,wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: inter;
}

body::-webkit-scrollbar {
  width: 14px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #7C3AED;    /* color of the scroll thumb */
  border-radius: 20px; 
  border: 3px solid #ffffff;      /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}
/* Global styles */
a {
    text-decoration: none;
    color: #F8FAFC;
    transition: 0.3s linear;
}a:hover{
    font-size: 110%;
    transition: 0.1s linear;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    background-color: white;
    transition: 1s ease-out;
}

.background{
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    transition: 3.5s ease-out;
}
.darkmode{
    background-color: black;
    transition: 3.5s ease-out;
}

.darkmodet{
    background-color: black;
    transition: none;
}